@model IEnumerable<SemAPI2.Models.DijakPodročje>

@{
    ViewBag.Title = "Index";
}

<h2>Dijak-Predmet</h2>

<p>
    @Html.ActionLink("Ustvari", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.DijPodTest)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Dijak.DijIme)*@Dijak
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Področja.PodIme)*@Predmet
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.DijPodTest)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Dijak.DijIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Področja.PodIme)
        </td>
        <td>
            @Html.ActionLink("Spremeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Podrobnosti", "Details", new { id=item.Id }) |
            @Html.ActionLink("Odstrani", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
